@charset "utf=8";

*{
    font-family: cursive;
}

h1{
    background-color: aquamarine;
    text-align: center;
}

nav{
    background-color: antiquewhite;
    
}


div{
    background-color: antiquewhite;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header-A header-A"
    "main-A Aside"
    "footer-A footer-A"
    ;
    column-gap: 1em;
    row-gap: 1em;
}

header{
    grid-area: header-A;
}

aside{
    grid-area: Aside;
}

main{
    grid-area: main-A;
    background-color: rgb(97, 177, 243);
}

footer{
    grid-area: footer-A;
}
